.container {
	height: 100%;

	.title {
		margin-top: 20px;
		font-size: 20px;
		text-align: center;
		color: #ffffff;
	}

	.text {
		margin-top: 20px;
		font-size: 15px;
		color: #ffffff;
		padding: 0 20px;
	}
}
